h1 {
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 5px;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;  
}


#column {
    display: flex;
    height: 700px; 
    flex-direction: column;
}

#row {
    display: flex; 
    width: 700px;
    height: 700px;
}

.box {
    margin: 0px;
    border: 1px solid black;
    height: auto;
    width: 15px;
    flex-grow: 1; 
    
}

button {
    margin: 20px;
    height: 30px;
    font-weight: bold;
}