body {
    margin: 0px;
}

#row {
    display: flex;
    flex-direction: row;

}

.box {
    margin: 0px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
}

.hover {
    margin: 0px;
    border: 1px solid black;
    height: 30px;
    width: 30px;
    background-color: black;
}