body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#column {
    max-width: 600px;
    max-width: 600px;
}


#row {
    display: flex;
    flex-direction: row;
    
}

.box {
    margin: 0px;
    border: 1px solid black;
    height: 15px;
    width: 15px; 
}

button {
    margin: 20px;
    height: 30px;
    font-weight: bold;
}